/*body {
  font-family: Futura, sans-serif;
  background-color: whitesmoke;
}*/

#posts-container {
  overflow: visible !important;
}

.modal {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
}

.modal label {
  width:70px;
}

.modal .form-control {
  display:inline-block;
  width:40%;
}

.btn-primary {
  margin-bottom: 10px;
}

html,
body {
 height: 100%;
 position: relative;
}

#vue-app {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 500px; /* height of your footer */
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
}

a:hover {
  cursor: pointer;
}