/*body {
  font-family: Futura, sans-serif;
  background-color: whitesmoke;
}*/

#posts-container {
  overflow: visible !important;
}

.modal {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
}

.modal label {
  width:70px;
}

.modal .form-control {
  display:inline-block;
  width:40%;
}

.btn-primary {
  margin-bottom: 10px;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
}